In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('final.csv')

C:\Users\ADMIN\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,6,33,34,35,106,107) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data = data.fillna('')

In [4]:
data.shape

(29741, 108)

In [5]:
data['Reviews'] = data['REASONNPSSCORE__C'].astype(str)+ data['WHATDIDWELLWITHAPP__C'].astype(str) + data['WHATDIDNOTWELLWITHAPP__C'].astype(str)

C:\Users\ADMIN\AppData\Local\Temp/ipykernel_15700/2645896183.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data['Reviews'] = data['REASONNPSSCORE__C'].astype(str)+ data['WHATDIDWELLWITHAPP__C'].astype(str) + data['WHATDIDNOTWELLWITHAPP__C'].astype(str)

In [6]:
data_new = data[['REVIEW_ID','MEMBER_ID','Reviews','sentiment_label']]

In [7]:
data_new['sentiment_label'].value_counts()

Positive    16652
Neutral     10739
Negative     2312
Extreme        38
Name: sentiment_label, dtype: int64

## Neutral data

In [8]:
data_new = data_new[(data_new.sentiment_label=="Neutral")]
data_new.head()

,REVIEW_ID,MEMBER_ID,Reviews,sentiment_label
1,a2p3g000000LAe2AAG,0011U00000riuzfQAA,,Neutral
2,a2p3g000000LAenAAG,0011U00000rieIYQAY,,Neutral
3,a2p1U000000l8FEQAY,0011U00000rjZH9QAM,Answer all my questions,Neutral
6,a2p1U000000RvKnQAK,0011U00000rjGseQAE,,Neutral
10,a2p3g000000pnkRAAQ,0011U00000rijxIQAQ,,Neutral

In [9]:
# Remove entries with no response and remove punctuations
data_reason_score = data_new[data_new['Reviews'] != 'No Response']
data_reason_score = data_reason_score.reset_index(drop=True)
remove_punctuations_reason_score = data_reason_score[['Reviews']]
remove_punctuations_reason_score.replace("[^a-zA-Z]"," ",regex=True, inplace=True)
data_reason_score[['Reviews']] = remove_punctuations_reason_score[['Reviews']]

C:\Users\ADMIN\anaconda3\lib\site-packages\pandas\core\frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [10]:
# Removing missing values
reason_score_reviews = data_reason_score
reason_score_reviews = reason_score_reviews.dropna(subset=['Reviews'])
reason_score_reviews = reason_score_reviews.reset_index(drop=True)

In [11]:
data_reason_score = data[data['Reviews'] != 'No Response']
data_reason_score = data_reason_score.reset_index(drop=True)
remove_punctuations_reason_score = data_reason_score[['Reviews']]

In [12]:
# Converting reviews to lower case
reason_score_lower = reason_score_reviews[['Reviews']]
reason_score_reviews['Reviews'] = reason_score_lower.applymap(str.lower)

In [13]:
reason_score_reviews

,REVIEW_ID,MEMBER_ID,Reviews,sentiment_label
0,a2p3g000000LAe2AAG,0011U00000riuzfQAA,,Neutral
1,a2p3g000000LAenAAG,0011U00000rieIYQAY,,Neutral
2,a2p1U000000l8FEQAY,0011U00000rjZH9QAM,answer all my questions,Neutral
3,a2p1U000000RvKnQAK,0011U00000rjGseQAE,,Neutral
4,a2p3g000000pnkRAAQ,0011U00000rijxIQAQ,,Neutral
...,...,...,...,...
10734,a2p4w000002OHIpAAO,0014w00002pQBXjAAO,,Neutral
10735,a2p4w000002OHMDAA4,0011U00000rjnAeQAI,the doctor is attentive and explains things in...,Neutral
10736,a2p4w000002OHM8AAO,0014w00003GHPU0AAP,dr humphrey explained her findings i have te...,Neutral
10737,a2p4w000002OHKMAA4,0014w00003GEk6SAAT,short to the point,Neutral
10738,a2p4w000002OHMmAAO,0014w00003GEDmCAAX,,Neutral

In [14]:
reason_score_reviews['Reviews'].value_counts()

                                            7912
listened                                      35
physical                                      12
nothing                                       10
communication                                  9
                                            ...
listened and not judged                        1
explain the treatment processnothing           1
very polite and prompt nothing                 1
the individualized approach to my needs        1
short to the point                             1
Name: Reviews, Length: 2539, dtype: int64

In [15]:
reason_score_reviews.to_csv('Neutral_data.csv',index = False)